@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light: white;
  --dark: black;
}
body{
  background: var(--light);
}

.main-bg{
  background-image: url('../public/backgrounds/main.png');
  background-size: cover;
  background-repeat: no-repeat;
}